*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.app__navbar {
    display: flex;
    width: 100%;
    min-width: 200px;
    background-color: #0c0c0c;
    padding: 1rem 2rem;
    align-items: center;
}

.app__navbar-logo span {
    font-size: 2rem;
    color: yellow;
    font-weight: bold;
}

.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.app__navbar-links li {
    margin: 0 1rem;
}

.app__navbar-links li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.app__navbar-login {
    display: flex;
    align-items: center;

}

.app__navbar-login a {
    color: #fff;
    margin: 0 0.5rem;
    text-decoration: none;
}

.app__navbar-login div {
    width: 1px;
    height: 20px;
    background: gold;
}

.app_navbar_menu {
    display: none;
}

.app_navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #0c0c0c;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 3s ease;
}

.app__navbar-container-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    list-style: none;
}

.app__navbar-container-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: .3s ease;
}

.app__navbar-container-links li a:hover {
    color: goldenrod;
}

.close_icons {
    position: absolute;
    top: 20px;
    right: 50px;
    cursor: pointer;
}

.icons {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    transition: .3s ease;
}

.close_icons:hover {
    color: red;
}

@media screen and (max-width:1024px) {
    .app__navbar-links {
        display: none;
    }

    .app__navbar {
        justify-content: space-between;
        padding: 1rem 3rem;
    }

    .app_navbar_menu {
        display: flex;
    }

}

@media screen and (max-width:450px) {
    .app__navbar {
        padding: 1rem;
    }

    .app__navbar-logo span {
        font-size: 16px;
    }

    .icons {
        font-size: 14px;
    }

    .close_icons {
        right: 20px;
    }

    .app__navbar-login {
        display: none;
    }
}